<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>TimeZones</key>
    <array>
        <dict>
            <key>region</key>
            <string>Asia</string>
            <key>cities</key>
            <array>
                <string>Asia/Shanghai</string>
                <string>Asia/Hong_Kong</string>
                <string>Asia/Tokyo</string>
                <string>Asia/Seoul</string>
                <string>Asia/Singapore</string>
                <string>Asia/Dubai</string>
                <string>Asia/Kolkata</string>
            </array>
        </dict>
        <dict>
            <key>region</key>
            <string>Americas</string>
            <key>cities</key>
            <array>
                <string>America/Los_Angeles</string>
                <string>America/New_York</string>
                <string>America/Chicago</string>
                <string>America/Vancouver</string>
                <string>America/Toronto</string>
                <string>America/Mexico_City</string>
                <string>America/Sao_Paulo</string>
            </array>
        </dict>
        <dict>
            <key>region</key>
            <string>Europe</string>
            <key>cities</key>
            <array>
                <string>Europe/London</string>
                <string>Europe/Paris</string>
                <string>Europe/Berlin</string>
                <string>Europe/Moscow</string>
                <string>Europe/Istanbul</string>
            </array>
        </dict>
        <dict>
            <key>region</key>
            <string>Oceania</string>
            <key>cities</key>
            <array>
                <string>Australia/Sydney</string>
                <string>Australia/Melbourne</string>
                <string>Pacific/Auckland</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
